{% extends 'matchmaker/base.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Discover</title>
    {% include 'matchmaker/widgets/profile.html' %}
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="search-area shadow p-4 mt-5 bg-white rounded" style="width: 50%; margin: auto;">
        <h4>Filter</h4>
        <div class="filter">
            Filter stuff in here.
        </div>
    </div>
    <div id="profile-block" class="profiles p-3 d-flex flex-row flex-wrap justify-content-center">
    </div>
    {% endblock %}
</body>

</html>