{% extends 'matchmaker/base.html' %}
<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>MatchMaker</title>
  {% endblock %}
</head>

<body>
  {% block body %}
  {% if user.is_authenticated %}

  {% else %}
  <div class="jumbotron text-center" style="background-color: #FFE9EB">
    <div class="container">
      <h1>Welcome</h1>
      <p>This is the hottest way to find love in 2018! PLUS it's soo simple! Just register for a free account, give
        your profile some glamour and put yourself out there. Love might be just one click away... </p>
      <a href="{% url 'register' %}" class="btn btn-primary">Sign up</a>
      <p><small class="text-center"><a href="{% url 'login' %}" class="text-muted">Already have an account? Sign in.</a></small></p>
    </div>
  </div>
  <div class="home-container">
    <div class="row text-center" style="width: 55vw; margin: auto">
      <div class="col">
        <div class="card shadow p-3 bg-white rounded">
          <div class="card-body">
            <h4 class="card-title">Custom profile</h4>
            <p class="card-text">
              Make sure to fill out your profile to increase your chances of finding that 'special someone'!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 bg-white rounded">
          <div class="card-body">
            <h4 class="card-title">Pimp your search</h4>
            <p class="card-text">
              Not having any luck? Try filtering through the many hopeful lovebirds by adding an age gender onto your
              search. Otherwise be on the lookout for a notification from a potential match!
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow p-3 bg-white rounded">
          <div class="card-body">
            <h4 class="card-title">Hotness</h4>
            <p class="card-text">
              Dish out the love! Click the hotness button on each profile in the discover page to increase your chances
              of a match.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endblock %}
</body>

</html>