{% extends 'matchmaker/base.html' %}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>Log in</title>
    {% endblock %}
</head>

<body>
    {% block body %}
    <div class="login-form shadow p-4 my-5 bg-white rounded" style="width:20rem; margin:auto">
        <h2 class="mb-3">Log in</h2>
        <form acition="" id="login" class="main-form">
            <div class="form-group">
                <label for="first_name">Email:</label>
                <input type="text" name="username" id="email" class="form-control" autocomplete="username">
                <div id="errorEmail" class="invalid-feedback">Invalid email</div>
            </div>
            <div class="form-group">
                <label for="last_name">Password:</label>
                <input type="password" name="password" id="password" class="form-control" autocomplete="current-password">
                <div id="errorPassword" class="invalid-feedback">Invalid password</div>
            </div>
            <div class="text-center">
                <input id="loginButton" type="button" class="btn btn-primary " value="Log in">
            </div>
            <div class="pt-2 text-center">
                <small class="text-muted">Don't have an account? <a class="" href="{% url 'register' %}">Register.</a></small>
            </div>
        </form>
    </div>
    {% endblock %}
</body>

</html>